h2, h3, h4, h5, h6 {
    color:#025157;
}

h1 {
    color:rgb(161, 226, 194);
    font-size: 70px;
    
}


p {
    color: #8763c9;
}

button {
    color: #fff;
    background-color: #025157;
}

body {
    background-color: #fffbf7;
    /* background-image: url("https://ak.picdn.net/shutterstock/videos/1016391685/thumb/1.jpg?ip=x480"); */
}

* {
    color: black;
}

.header {
    /* margin: 40px 20px 0px 20px; */
    font-size: 0;
    line-height: 45px;
    font-family: sans-serif;
    background-color: aliceblue;
    
  }
  
  /*Aplica a todos los hijos*/

.header > * {
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
    height: 100%;
    line-height: 45px;
}

li {
    display: inline;
}

.logo {
    width: 15%;
}

.logo > img {
    height: 100%;
}

/* .navbar{
    width: 70%;
    text-align: center;
    color: #025157;
} */

/*
.navbar > ul > li {
     padding: 0 25px 0 25px;
     color: #025157;
}
*/

.menu-item {
    display: inline;
    margin: 0 25px;
    color: #025157;
  }

.actions{
    width: 15%;
    text-align: right;
    font-size: 14px;
}

.actions > * {
    margin: 0 10px;
  }
  

.actions a{
    color: #67b54b;
}

.actions button{
    color: white;
    background-color: #67b54b;
    padding: 12px 14px;
    border: 0;
    border-radius: 5px;
}


.promo {
    display: flex;
    width: 70%;
    margin: 100px auto;
    align-items: center;
    justify-content: space-between;
}

  .article{
    padding-left: 25px;
  }
  .article > h3 {
    font-family: "Brush Script MT", serif;
    font-size: 45px;
    line-height: 35px;
    color: #025157;
  }
  
  .article > p {
    font-size: 15px;
    color: #343434;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  .article > form {
    display: flex;
  }
  
  .article > form > p {
    color: #025157;
    margin-right: 18px;
  }
  
  .contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  
  .contenedor img {
    width: 120px;
    margin-top: 10px;
  }
  

  .fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fffbf7;
  }

  main {
    margin-top: 285px;
    text-align: center;
  }
  


  .success-stories {
    background-color: #a1d683;
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  .success-stories .overview {
    flex: 2;
    padding-right: 100px;
  }
  
  .success-stories .overview h2 {
    font-family: "Alegreya", serif;
    font-size: 51px;
    line-height: 61px;
    color: #025157;
  }
  
  .success-stories .overview p {
    color: #343434;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 1rem;
  }
  
  .success-stories .overview button {
    font-size: 14px;
    padding: 12px 12px 6px 12px;
    border-radius: 8px;
    height: 45px;
    font-weight: 600;
    margin-left: 0;
  }
  
  .success-stories .overview img {
    width: 500px;
    max-width: 100%;
  }
  
  .success-stories .stories-carousel {
    flex: 1;
  }
  
  .success-stories .stories-carousel .carousel-indicators {
    position: unset;
  }
  
  .success-stories .stories-carousel .card {
    max-width: 370px;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
  }
  
  .success-stories .stories-carousel .card .card-media img {
    width: 100%;
    max-height: 16vw;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .success-stories .stories-carousel .card .card-media figure {
    margin-top: 0;
  }
  
  .success-stories .stories-carousel .card .card-media {
    position: relative;
  }
  
  .success-stories .stories-carousel .card .card-media .company {
    position: absolute;
    bottom: -20px;
    right: 20px;
    width: 100px;
    height: 100px;
    background-color: #f9da73;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .success-stories .stories-carousel .card .card-media .company img {
    max-width: 75%;
  }
  
  .success-stories .stories-carousel .card .card-body,
  .success-stories .stories-carousel .card .card-footer {
    padding: 25px;
  }
  
  .success-stories .stories-carousel .card .card-body h4 {
    color: #025157;
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 12px;
  }
  
  .success-stories .stories-carousel .card .card-body h3 {
    font-size: 25px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 20px;
  }
  
  .success-stories .stories-carousel .card .card-body .results {
    display: flex;
    align-items: center;
    color: #828282;
  }
  
  .success-stories .stories-carousel .card .card-body .results img {
    width: 26px;
    margin-right: 20px;
  }
  
  .success-stories .stories-carousel .card .card-body .results p {
    margin-top: 0;
  }
  
  .success-stories .stories-carousel .card .card-footer {
    margin-bottom: 20px;
    background-color: unset;
    border-top: unset;
  }
  
  .success-stories .stories-carousel .card .card-footer button {
    display: block;
    margin-left: 0;
    border-radius: 5px;
    font-size: 13;
    font-weight: 600;
    padding: 12px 20px;
    width: 100%;
  }

  .success-stories .stories-carousel .card .card-media figure {
  margin-top: 0;
}


.features{
  display: grid;
  height: 660px;
  /* grid-template-columns: repeat(2, 300px); 1fr dos columnas con el mismo espacio disponible*/
  /* grid-template-columns: 500px 1fr; primer columna 500px y el resto es unacolumna */
  grid-template: repeat(2, 1fr) / repeat(2, 1fr);

}

.feature-art {
  background-color: #a1d683;
  margin: 10px;
  width: 40%;
  height: 50px;
}




.features {
  background-color: #025157;
  padding: 5% 10%;
  display: grid;
  grid-template: repeat(2, 330px) / repeat(2, 1fr);
}

.features .feature-card {
  margin-bottom: 30px;
  margin-left: 15px;
  margin-right: 15px;
  background-color: #fff;
  border: 1px solid #dadada;
  border-radius: 5px;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.features .feature-card .feature-content {
  padding: 30px 20px 40px 40px;
  flex: 2;
}

.features .feature-card .feature-content > * {
  margin-bottom: 1rem;
  margin-top: 0;
}

.features .feature-card .feature-content img {
  width: 50px;
}

.features .feature-card .feature-content h3 {
  font-size: 24px;
  color: #343434;
  font-weight: 400;
}

.features .feature-card .feature-content p {
  font-size: 16px;
  color: #7e7e7e;
  font-weight: 400;
}

.features .feature-card .feature-content a {
  font-size: 16px;
  color: #67b54b;
  font-weight: 600;
  text-decoration: none;
}

.features .feature-card .feature-image {
  flex: 1;
  width: 40%;
  position: relative;
  right: -50px;
  height: 80%;
}

.features .feature-card .feature-image figure,
.features .feature-card .feature-image img {
  margin-top: 0;
  height: 100%;
}






.features {
  background-color: #025157;
  padding: 5% 10%;
  display: grid;
  grid-template: repeat(2, 330px) / repeat(2, 1fr);
}

.features .feature-card {
  margin-bottom: 30px;
  margin-left: 15px;
  margin-right: 15px;
  background-color: #fff;
  border: 1px solid #dadada;
  border-radius: 5px;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.features .feature-card .feature-content {
  padding: 30px 20px 40px 40px;
  flex: 2;
}

.features .feature-card .feature-content > * {
  margin-bottom: 1rem;
  margin-top: 0;
}

.features .feature-card .feature-content img {
  width: 50px;
}

.features .feature-card .feature-content h3 {
  font-size: 24px;
  color: #343434;
  font-weight: 400;
}

.features .feature-card .feature-content p {
  font-size: 16px;
  color: #7e7e7e;
  font-weight: 400;
}

.features .feature-card .feature-content a {
  font-size: 16px;
  color: #67b54b;
  font-weight: 600;
  text-decoration: none;
}

.features .feature-card .feature-image {
  flex: 1;
  width: 40%;
  position: relative;
  right: -50px;
  height: 80%;
}

.features .feature-card .feature-image figure,
.features .feature-card .feature-image img {
  margin-top: 0;
  height: 100%;
}

.how-does-it-work {
  background-color: #fffbf7;
  padding: 5% 10%;
  text-align: center;
}

.how-does-it-work .title {
  color: #025157;
  font-size: 50px;
  line-height: 60px;
  font-weight: 400;
  font-family: "Alegreya", serif;
  margin-bottom: 8px;
}

.how-does-it-work .description {
  max-width: 60%;
  color: #46484c;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0 auto;
  margin-bottom: 16px;
}

.how-does-it-work .description a {
  color: #67b54b;
  text-decoration: none;
}

.how-does-it-work button {
  font-size: 14px;
  font-weight: 600;
  padding-top: 12px 12px 6px 12px;
  height: 45px;
  margin-left: 0;
  border-radius: 8px;
  margin-top: 6px;
}

.how-does-it-work .steps {
  margin-top: 70px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.how-does-it-work .steps .card-step {
  background-color: #fff;
  border: 1px solid #dadada;
  border-radius: 5px;
  margin-left: 20px;
  margin-right: 20px;
  text-align: left;
}

.how-does-it-work .steps .card-step .card-step-image {
  position: relative;
  height: 350px;
}

.how-does-it-work .steps .card-step .card-step-image .card-step-icon {
  position: absolute;
  top: 25px;
  left: 25px;
  width: 21px;
}

.how-does-it-work .steps .card-step .card-step-image .card-step-bg {
  width: 100%;
  height: 100%;
}

.how-does-it-work .steps .card-step .card-step-body {
  padding: 25px;
}

.how-does-it-work .steps .card-step .card-step-body h3 {
  font-size: 30px;
  line-height: 36px;
  font-family: "Alegreya", serif;
  color: #025157;
  font-weight: 400;
  text-align: center;
}

 .how-does-it-work .steps .card-step .card-step-body p {
  font-size: 15px;
  line-height: 1.5;
  color: #46484c;
  font-weight: 400;
  height: 85px;
  margin-bottom: 16px;
} 

.how-does-it-work .steps .card-step .card-step-body a {
  font-size: 16px;
  line-height: 1.4;
  color: #67b54b;
  font-weight: 600;
  text-decoration: none;
} 


@media (max-width: 575px) {
  /* .navbar, .actions {
    display: none;
  } */
  main {
    margin-top: 130px;
  }

  .banner > img {
    width: 100%;
  }

  h1 {
    font-size: 30px;
  }

  .publish > form {
    flex-direction: column;
  }

  .publish > form  > input {
    width: 90%;
  }
  
  .publish > form > button {
    width: 92%;
  }

  .promo {
    flex-direction: column;
    max-width: 90%;
  }

  .explanatory-video > video {
    width: 100%;
  }


  .promo > .publish > h3 {
    font-family: "Brush Script MT", serif;

  }

  .publish > h3 {
    font-size: 25px;
    line-height: 1.2;
  }

  .features {
    grid-template: repeat(4, 1fr) / 1fr;
    padding-left: 0;
    padding-right: 0;
  }
  
  .feature-image {
    display: none;
  }











   /* .publish > form > div {
    height: 50px;
    margin-top: 10px;
  } */
}












