h3, h4, h5, h6 {
    color:aqua;
}

h1 {
    color:rgb(161, 226, 194);
    
}

h2 {
    color: #c9316b;
}

p {
    color: #8763c9;
}

button {
    color: #fff;
    background-color: #025157;
}

body {
    background-color: #4599c0;
    background-image: url("https://ak.picdn.net/shutterstock/videos/1016391685/thumb/1.jpg?ip=x480");
}

* {
    color: white;
}

li {
    display: inline;
}

.header {
    margin: 40px 20px 0px 20px;
    font-size: 0;
    line-height: 45px;
  }
  
  /*Aplica a todos los hijos*/

.header > * {
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
    height: 100%;
    line-height: 45px;
}

.logo {
    width: 15%;
}

.navbar{
    width: 70%;
}

.actions{
    width: 15%;
    text-align: right;
    font-size: 14px;
}