h3, h4, h5, h6 {
    color:aqua;
}

h1 {
    color:rgb(161, 226, 194);
    
}

h2 {
    color: #c9316b;
}

p {
    color: #8763c9;
}

button {
    color: #fff;
    background-color: #025157;
}

body {
    background-color: #fffbf7;
    /* background-image: url("https://ak.picdn.net/shutterstock/videos/1016391685/thumb/1.jpg?ip=x480"); */
}

* {
    color: white;
}

.header {
    margin: 40px 20px 0px 20px;
    font-size: 0;
    line-height: 45px;
    font-family: sans-serif;
    background-color: aliceblue;
    
  }
  
  /*Aplica a todos los hijos*/

.header > * {
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
    height: 100%;
    line-height: 45px;
}

li {
    display: inline;
}

.logo {
    width: 15%;
}

.logo > img {
    height: 100%;
}

.navbar{
    width: 70%;
    text-align: center;
    color: #025157;
}

/*
.navbar > ul > li {
     padding: 0 25px 0 25px;
     color: #025157;
}
*/

.menu-item {
    display: inline;
    margin: 0 25px;
    color: #025157;
  }

.actions{
    width: 15%;
    text-align: right;
    font-size: 14px;
}

.actions > * {
    margin: 0 10px;
  }
  

.actions a{
    color: #67b54b;
}

.actions button{
    color: white;
    background-color: #67b54b;
    padding: 12px 14px;
    border: 0;
    border-radius: 5px;
}

  
  .article > h3 {
    font-family: "Brush Script MT", serif;
    font-size: 40px;
    line-height: 78px;
    color: #025157;
  }
  
  .article > p {
    font-size: 18px;
    color: #343434;
    line-height: 2.5;
    margin-bottom: 20px;
  }
  
  .article > form {
    display: flex;
  }
  
  .article > form p {
    color: #025157;
    margin-right: 18px;
  }
  